body{
  margin:0px;
  background-image: url('../public/bg.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.card{
  padding-top: 20% !important;
}

a{
  text-decoration: none;
  
}
.search_field{
  margin-bottom: 3% !important;
}

.table{
  margin-bottom: 4% !important;
  padding: 5%;
  font-size: 18px !important;
}
.table thead th{
  font-weight: bold;
  /* background-color: #26272b; */
  /* color: #fff;  */
}

.table tr th{
border: 2px solid !important;
}

.table td{
  border: 2px solid !important;
}